{% load static %}

<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Employee Monitoring</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'manager/img/favicon.png' %}" rel="icon">
    <link href="{% static 'manager/img/favicon.png' %}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <link href="{% static 'manager/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'manager/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'manager/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'manager/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'manager/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'manager/css/main.css' %}" rel="stylesheet">

</head>

<body class="index-page">

    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">

            <a href="#" class="logo d-flex align-items-center me-auto">
                <!-- Uncomment the line below if you also wish to use an image logo -->
<!--                <img src="{% static 'manager/img/favicon.png' %}" alt="">-->
                <h1 class="sitename">Employee Monitoring</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#hero" class="active">Главная<br></a></li>
                    <li><a href="#about">Как это работает? 🤔</a></li>
                    <li><a href="#team">Команда по практике 🔥</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted" href="#about">Войти</a>

        </div>
    </header>


    <main class="main">

        <section id="hero" class="hero section">

            <img src="{% static 'manager/img/hero-bg-abstract.jpg' %}" alt="" data-aos="fade-in" class="">

            <div class="container">
                {% block hero %}
                {% endblock %}
            </div>

        </section><!-- /Hero Section -->


        <!-- Stats Section -->
        <section id="stats" class="stats section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>Зарегистрировано сейчас</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>Обработано запросов сервисом Employee Monitoring</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>Количество минут работы сервиса</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>Количество интеграций с amoCRM</p>
                        </div>
                    </div><!-- End Stats Item -->

                </div>

            </div>

        </section><!-- /Stats Section -->


        <!-- Call To Action Section -->
        <section id="call-to-action" class="call-to-action section">
            <div class="container">
                <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                    <div class="col-xl-10">
                        <div class="text-center">
                            <h3>Как это работает? 🤔</h3>
                            <p align="center">Пройдите регистрацию</p>
                            <p align="center">Получите токены авторизации</p>
                            <p align="center">Добавьте сотрудников</p>
                            <p align="center">Интегрируйтесь с вашими сервисами и получайте актуальную статистику</p>
                            <a class="cta-btn" href="#register">Начать регистрацию</a>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- /Call To Action Section -->


        <!-- Team Section -->
        <section id="team" class="team section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Команда по практике 😎</h2>
                <!--            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>-->
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row justify-content-center">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'manager/img/team/team-1.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Медведев Тимур Фахраддинович</h4>
                                <span>Fullstack разработчик</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'manager/img/team/team-2.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Рогов Илья Анатольевич</h4>
                                <span>Проектирование сервиса. Составление отчета по практике.</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'manager/img/team/team-3.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Грицаенко Максим Алексеевич</h4>
                                <span>Крутой чел</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->
                </div>
            </div>
        </section><!-- /Team Section -->
    </main>

        <!-- Scroll Top -->
        <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>
        <!-- Preloader -->
        <div id="preloader"></div>
        <!-- Vendor JS Files -->
        <script src="{% static 'manager/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'manager/vendor/aos/aos.js' %}"></script>
        <script src="{% static 'manager/vendor/purecounter/purecounter_vanilla.js' %}"></script>
        <script src="{% static 'manager/vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'manager/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'manager/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'manager/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <!-- Main JS File -->
        <script src="{% static 'manager/js/main.js' %}"></script>

</body>

</html>
