{% extends '_base_mainpage.html' %}

{% load static %}


{% block hero %}
<div class="row justify-content-center" data-aos="zoom-out">
    <div class="col-xl-7 col-lg-9 text-center">
        <h1>Тема 29. Информационная система управления кафе</h1>
        <p>С помощью Employee Monitoring вы можете контролировать график сотрудников.</p>
    </div>
</div>
<div class="text-center" data-aos="zoom-out" data-aos-delay="100">
    <a href="#about" class="btn-get-started">Регистрация</a>
</div>

<div class="row gy-4 mt-5">
    <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="100">
        <div class="icon-box">
            <div class="icon"><i class="bi bi-easel"></i></div>
            <h4 class="title"><a href="">Наглядная статистика</a></h4>
            <p class="description">Используйте все возможности Employee Monitoring для улучшения вашего бизнеса</p>
        </div>
    </div><!--End Icon Box -->

    <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="200">
        <div class="icon-box">
            <div class="icon"><i class="bi bi-gem"></i></div>
            <h4 class="title"><a href="">Бесплатное облачное решение</a></h4>
            <p class="description">Отлично подойдет для стартапов</p>
        </div>
    </div><!--End Icon Box -->

    <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="300">
        <div class="icon-box">
            <div class="icon"><i class="bi bi-geo-alt"></i></div>
            <h4 class="title"><a href="">Контроль из любой точки мира</a></h4>
            <p class="description">Контролируйте бизнес не выходя из дома</p>
        </div>
    </div><!--End Icon Box -->

    <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="400">
        <div class="icon-box">
            <div class="icon"><i class="bi bi-command"></i></div>
            <h4 class="title"><a href="">Интеграция с API</a></h4>
            <p class="description">Используйте все возможности Employee Monitoring для интеграции с вашими сервисами</p>
        </div>
    </div><!--End Icon Box -->

</div>


<!--404-->
<!--<div class="row justify-content-center" data-aos="zoom-out">-->
<!--    <div class="col-xl-7 col-lg-9 text-center">-->
<!--        <h1>К сожалению по данному запросу страница не найдена 😭</h1>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}

