{% load static %}


{% load manager_tags %}

<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Бронь</title>
    <link href="{% static 'manager/img/favicon.png' %}" rel="icon">
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'manager/css/tailwind.output.css' %}"/>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="{% static 'manager/js/init-alpine.js' %}"></script>
</head>
<body>

<div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
    <div
            class="justify-center text-sm max-w-prose  mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
    >
        <div
                class="flex items-center justify-center p-6 sm:p-12">
            <div class="w-full">


                <form action="" method="POST">
                    {% csrf_token %}

                    <span class="text-gray-700 dark:text-gray-400">Дата бронирования</span>
                    <label class="block text-sm" type="text" for="_booking_date"></label>
                    <input name="booking_date"
                           class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                           type="date" id="_booking_date" placeholder="100">
                    <label class="block mt-4 text-xs"></label>



                    <span class="text-gray-700 dark:text-gray-400">Комментарий к бронированию</span>
                    <label class="block text-sm" type="text" for="_comment"></label>
                    <input name="comment"
                           class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                           type="text" id="_comment" placeholder="Здравствуйте. Мой номер телефона 89999999999">
                    <label class="block mt-4 text-xs"></label>


                    <span class="text-gray-700 dark:text-gray-400">Количество человек</span>
                    <label class="block text-sm" type="text" for="_number_of_people"></label>
                    <input name="number_of_people"
                           class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                           type="number" id="_number_of_people" placeholder="100">
                    <label class="block mt-4 text-xs"></label>

                    <label class="block text-sm" for="_tables"></label>


                    <span class="text-gray-700 dark:text-gray-400">Выберите свободный стол</span>


                    {% get_tables as table %}
                    <select
                            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                            name="tables"
                            id="_tables"
                    >


                        {% if tables == '0' %}

                        <option>Ничего не найдено</option>
                        {% endif %}


                        {% if tables != '0' %}
                        {% for x in tables %}
                        <option value="{{ x.table_number }}">[{{ x.table_number }}] Свободных мест: {{ x.seats_available }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>

                    <br>
                    <button class="text-gray-700 dark:text-gray-400" type="submit">
                        Забронировать
                    </button>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
